.wrap{
    width: 1440px;
    height: 900px;
    margin: 0 auto;
    font-family: 'Noto Sans Kr';
}

.topBar{
    width: 100%;
    height: 56px;
    padding: 0 20px;
    box-sizing: border-box;
    background-color: #1b3a68;
    display: flex;
    justify-content: space-between;
    color: #93c5fd;
    align-items: center;
    text-align: center;
}

.topBarL, .topBarR{
    display: flex;
    gap: 12px;
    height: 100%;
    align-items: center;
}

.topBarL img, .topBarR img{
    width: 20px;
    height: 20px;
}

.logo{
    width: 150px;
    display: flex;
    gap: 10px;
    font-size: 16px;
    color: white;
    text-align: center;
    font-weight: bold;
}

.topMenu{
    display: flex;
    height: 100%;
}

.topMenu li{
    width: 100px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.action{
    background-color: #2d5f9e;
    font-weight: bold;
    color: white;
}

.line1{
    width: 1px;
    height: 20px;
    border-right: 1px solid #3b5f9a;
}

.loginInfo{
    display: flex;
    gap: 7px;
    align-items: center;
    justify-content: center;
}

.infoIcon{
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    background-color: #3b82f6;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 12px;
    font-weight: bold;
    margin-right: 10px;
}

.loginInfo li{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    color: #cbd5e1;
}

.line2{
    width: 1px;
    height: 15px;
    border-right: 1px solid #cbd5e1;
}

.continer{
    display: flex; 
    width: 100%;
    height: 840px;
}

.headerMenu{
    width: 210px;
    height: 100%;
    background-color: #1e293b;
    color: #999;
    font-size: 13px;
}

.headerMenu li{
    width: inherit;
    height: 36px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.headerMenu span{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #475569;
}

.headerMenu li:not(.menuTitle){
    padding: 0 0 0 30px;
    display: flex; 
    gap: 8px;
}

.menuTitle{
    display: flex;
    gap: 6px;
    padding: 0 20px;
    font-size: 12px;
    color: #60a5fa;
    font-weight: bold;
    background-color: #162032;
}

.menuTitle img{
    width: 13px;
    height: 13px;
}

.menuBorder{
    border-top: 1px solid #293b50;
    box-sizing: border-box;
}

.menuClick{
    color: white;
    font-weight: 900;
    background-color: #2a3f5c;
}

.menuClick span{
    background-color: #3b8cf6;
}

.main{
    flex: 1;
    padding: 20px;
    background-color: #f1f5f9;
}

.section{
    display: flex;
    gap: 6px;
    align-items: center;
    text-align: center;
    font-size: 12px;
    margin-bottom: 16px;
    color: #6b7280;
}

.now_section{
    color: #2563eb;
    font-weight: 500;
}

.pageHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title{
    font-size: 20px;
    font-weight: bold;
    color: #111827;
    margin-bottom: 4px;
}

.subTitle{
    font-size: 13px;
    color: #6b7280;
    margin-bottom: 16px;
}

.btnBox{
    display: flex;
    gap: 8px;
}

.downloadBtn, .addBtn{
    display: flex;
    gap: 6px;
    align-items: center;
    text-align: center;
    padding: 9px 14px;
    border-radius: 7px;
    font-size: 13px;
    cursor: pointer;
}

.downloadBtn{
    background-color: white;
    border: 1px solid #d1d5db;
}

.addBtn{
    background-color:#1b3a6b;
    color: white;
    font-weight: 500;
}

.searchBox{
    font-size: 13px;
    background-color: white;
    border: 1px solid #e5e7eb;
    padding: 16px;
    border-radius: 7px;
    margin-bottom: 16px;
}

.searchTitle{
    display: flex;
    gap: 8px;
    align-items: center;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    color: #1b3a6b;
    margin-bottom: 12px;
}

.search{
    display: flex;
    gap: 16px;
}

.search div{
    height: 34px;
    display: flex;
    gap: 8px;
    align-items: center;
    text-align: center;
}

.search input, .search select{
    border: 1px solid #d1d5db;
    border-radius: 7px;
    padding: 5px 10px;
    color: #888;
}

.search input{
    width: 150px;
}

.searchBtnBox{
    display: flex;
    gap: 20px;
}

.searchBtn, .resetBtn{
    height: 100%;
    display: flex;
    gap: 6px;
    align-items: center;
    text-align: center;
    border-radius: 7px;
    cursor: pointer;
}

.searchBtn{
    background-color: #1b3a6b;
    color: white;
    padding: 9px 20px;
}

.resetBtn{
    border: 1px solid #d1d5db;
    color: #6b7280;
    padding: 9px 16px;
}

.empTable{
    width: 100%;
    background-color: white;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 7px;
    overflow: hidden;
    table-layout: fixed;
    font-size: 13px;
    color: #374151;
}

.empTable th, .empTable td{
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #e5e7eb;
}

.empTable th{
    background-color: #f1f5f9;
    font-size: 12px;
}

.number{
    width: 50px;
    color: #6b7280;
}
.empName{
    width: 90px;
    color: black;
    font-weight: 900;
}
.empNumber{ width: 100px; }
.empTeam{ width: 110px; }
.empRank{ width: 80px; }
.empJoin{ width: 120px; }
.empPhone{ width: 150px; }
.empEmail{ width: auto; }
.empStatus{ width: 90px; }
.empEdit{ width: 80px; }

.statusActive, .statusLeave{
    display: inline-block;
    padding: 3px 8px;
    border-radius: 20px;
    display: inline-block;
}

.statusActive{
    background-color: #dcfce7;
    color: #16a34a;
    font-size: 11px;
    font-weight: 900;
}

.statusLeave{
    background-color: #f8f4b5;
    color: #d97706;
    font-size: 12px;
}

.edit_btn{
    background-color: #eff6ff;
    padding: 5px 7px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #2563eb;
    cursor: pointer;
}

.empTable tfoot td{
    border: 1px solid #e5e7eb;
    border-top: none;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    box-sizing: border-box;
}

.tableFooterInner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.totalCount{
    font-size: 13px;
}

.pageChange{
    display: flex;
    gap: 5px;
    font-size: 12px;
    border-radius: 5px;
    margin-left: auto;
}

.pageBtn{
    border: 1px solid #e5e7eb;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    color: #6b7280;
}

.activePage{
    background-color: #1b3a6b;
    color: white;
    font-weight: 900;
}